<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyCbsJlnP4l3hx5SpuTaW0yg0G135m5cwZU",
    authDomain: "signupform-1c0aa.firebaseapp.com",
    projectId: "signupform-1c0aa",
    storageBucket: "signupform-1c0aa.appspot.com",
    messagingSenderId: "243437279047",
    appId: "1:243437279047:web:cba9c366fcb503efa31e62"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>