@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #5bbb1f;
  /* --background-color: rgb(56, 216, 96); */
  --text-gray-color: rgb(68, 68, 68);
  --text-dark-color: rgb(12, 12, 12);
}

body {
  font-family: "Maven Pro", sans-serif;
  overflow-x: hidden;
}
/* --------------------header styling---------------- */

.header {
  background-color: rgb(255, 255, 255);
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.2s ease-in-out;
  z-index: 100;
}
#logo {
  color: var(--text-dark-color);
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}
#logo > span {
  color: var(--background-color);
  font-size: 24px;
}
.navbar-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
}
.navbar-nav li > a {
  color: rgb(68, 68, 68);
}
.navbar-nav li > a:hover {
  color: var(--text-dark-color);
  border-bottom: 1px solid var(--background-color);
}
.navbar-nav li a.active {
  border-bottom: 1px solid var(--background-color);
}

.profileIcon {
  border: none;
  background: none;
}
.profile_List {
  display: none;
  position: absolute;
  background: #fff;
  top: 2.5rem;
  right: 0;
  padding: 1rem;
  width: 200px;
  justify-content: center;
}

.signLogin_container #signupButton {
  border: 1px solid var(--background-color);
  color: var(--background-color);
  font-size: 13px;
  margin-right: 5px;
}
.signLogin_container #loginButton {
  background-color: var(--background-color);
  color: #fff;
  font-size: 13px;
}

/*----------------------farmersstyling---------------------*/

.farmers_banner {
  background-image: url(assets/farmers-bg-fin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
}

/*----------------------MAIN CONTENT-------------------*/

/* Map styles */
.map-container {
  padding: 2% 2%;
  text-align: centers;
  position: relative;

  overflow: hidden;
  padding-bottom: 56.25%; /* NOTE: Once, map is already available use 56.25% for 16:9 aspect ratio for a responsive map */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* IMAGE */
.image-container {
  overflow-x: hidden;
  box-shadow: 0 0 0 100vmax rgba(201, 226, 101, 0.2);
  clip-path: inset(0 -100vmax);
  background: rgba(201, 226, 101, 0.2);
}
.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(
    (100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view)
  );
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  transition: 2s;
}
.image-wrapper > * {
  aspect-ratio: 4 / 3;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}

.btn-viewproducts {
  background: var(--background-color);
  color: #fff;
  transition: 0.5s;
  justify-content: center;
}

.btn-viewproducts:hover {
  background-color: var(--background-color);
  color: #fff;
}
/* IMAGE */

.farmer-activities {
  text-align: centers;
  position: relative;
}

.card {
  min-height: 100%;
  margin-bottom: 3%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

/* -----CALL TO ACTION---- */

.calltoaction {
  padding: 4rem;
  background: #dcffc4;
  color: black;
  margin-bottom: 3%;
  text-align: center;
}

.h1 {
  font-size: 45px;
  font-family: "Maven Pro", sans-serif;
}

.lead {
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
}

.btn-shopnow {
  background: var(--background-color);
  color: #fff;
  transition: 0.5s;
}

.btn-shopnow:hover {
  background-color: var(--background-color);
  color: #fff;
}

/*----------------------footer styling---------------------*/

.fa,
.fa-solid,
.fa-brands {
  font-size: 22px;
  color: black;
}

footer {
  background-color: #fff;
  color: black;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.quick-links,
.social-media,
.newsletter,
.supported-orgs {
  flex: 1;
  margin-right: 30px;
}

/* Give more space to newsletter section */
.newsletter {
  flex: 2;
}

.quick-links ul,
.social-media ul,
.supported-orgs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-links a,
.social-media a,
.supported-orgs a {
  color: #fff;
  text-decoration: none;
}

.social-media ul li a i {
  font-size: 20px;
}

.newsletter form {
  display: flex;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 10px;

  border-radius: 3px 0 0 3px;
}

.newsletter button {
  border: none;
  padding: 10px 20px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: var(--background-color);
  color: #fff;
}

@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }

  .quick-links,
  .social-media,
  .newsletter,
  .supported-orgs {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .footer-container {
    justify-content: center;
  }

  .supported-orgs {
    margin-right: 0;
  }
}

/*----------------------final footer styling---------------------*/

.final-footer {
  padding: 1% 4%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  background: rgba(201, 226, 101, 0.2);
}
