/* Reset default margin and padding */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

:root {
  --background-color: #5bbb1f;
  /* --background-color: rgb(56, 216, 96); */
  --text-gray-color: rgb(68, 68, 68);
  --text-dark-color: rgb(12, 12, 12);
}

body {
  font-family: "Maven Pro", sans-serif;
  overflow-x: hidden;
}
/* --------------------header styling---------------- */

#logo {
  color: var(--text-dark-color);
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}
#logo > span {
  color: var(--background-color);
  font-size: 24px;
}
.navbar-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
}
.navbar-nav li > a {
  color: rgb(68, 68, 68);
}
.navbar-nav li > a:hover {
  color: var(--text-dark-color);
  border-bottom: 1px solid var(--background-color);
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: var(--text-color);
}
.dropdown a > p {
  margin-left: 0.2rem;
}
.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.menu > a {
  font-size: 14px;
  padding: 8px 20px;
}
.menu > a:hover {
  background-color: rgb(222, 224, 224);
}
.menu {
  position: absolute;
  top: 40px;
  right: -20px;
  display: grid;
  width: 180px;
  padding: 8px 0;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}
.menu::before {
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}

.signupAndLoginButtons #signupButton {
  border: 1px solid var(--background-color);
  color: var(--background-color);
}
.signupAndLoginButtons #loginButton {
  background-color: var(--background-color);
  color: #fff;
}

/*----------------------banner marketplace styling---------------------*/

.marketplace_banner {
  background-image: url(assets/marketplace-bg-final.jpg);
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

/* Style for the top area */
.top-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
  margin-bottom: 2%;
}

.how-it-works {
  padding: 2% 2%;
}

#cart-icon,
#wishlist-icon {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #ccc;
}

#cart-icon i,
#wishlist-icon i {
  margin-right: 10px;
  font-size: 20px;
  color: green;
}

#cart-count,
#wishlist-count {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: green;
}

/* Style for the marketplace area */
.marketplace-area {
  display: grid;
  grid-row: auto;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
  margin: 1% 1%;
}

.cart {
  margin: 1% 1%;
}

/* Style for the product cards */
.product {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-info {
  margin-top: auto;
}

.product h3 {
  font-size: 1rem;
  margin: 10px;
}

.product p.price {
  font-size: 0.8rem;
  margin: 10px;
}

.quantity {
  margin: 10px;
}

.quantity label {
  font-size: 0.9 rem;

  margin: 10px;
}

.quantity input[type="number"] {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.9 rem;
}

.add-to-cart,
.add-to-wishlist {
  background-color: #5bbb1f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #79db40;
}

.add-to-cart:hover,
.add-to-wishlist:hover {
  background-color: #5bbb1f;
  border: 1px solid #79db40;
}

/* Style for the shopping cart area */

.cart {
  padding: 20px;
  background: rgba(201, 226, 101, 0.2);
  border-radius: 5px;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
tr {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

td,
th {
  padding: 10px;
  text-align: center;
  border: 1px solid #79db40;
}

th {
  font-size: 13px;
}

td {
  font-size: 12px;
}

td input {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 1% 2%;
  padding: 1% 0%;
}

.cart-item-quantity {
  text-align: center;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.cart li .product-name {
  font-weight: bold;
  margin-right: 10px;
}

.cart li .quantity {
  font-weight: bold;
  margin-right: 10px;
}

.cart li .price {
  font-weight: bold;
}

.reset-cart,
.checkout-button {
  padding: 1% 2%;
  color: white;
  background-color: #5bbb1f;
  border: 1px solid #79db40;
}

.modal {
  margin-top: 10%;
}

.modal-content {
  background: linear-gradient(45deg, #5fbca0, #8bd8a8, #c3fdb8);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
  text-align: center;
  max-width: 50%;
}

.confirm-order {
  padding: 1% 3%;
  border: 1px solid #79db40;
  margin-right: 2% 10%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

#reset-wishlist {
  margin-bottom: 2%;
  padding: 1% 2%;
  color: white;
  background-color: #5bbb1f;
  border: 1px solid #79db40;
}

button {
  padding: 1% 3%;
  color: white;
  background-color: #5bbb1f;
  border: 1px solid #79db40;
}

/* -----CALL TO ACTION---- */

.calltoaction {
  padding: 4rem;
  background: #dcffc4;
  color: black;
  margin-bottom: 3%;
  text-align: center;
}

.h1 {
  font-size: 45px;
  font-family: "Maven Pro", sans-serif;
}

.lead {
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
}

.btn-shopnow {
  background: var(--background-color);
  color: #fff;
  transition: 0.5s;
}

.btn-shopnow:hover {
  background-color: var(--background-color);
  color: #fff;
}

/*----------------------footer styling---------------------*/

.fa,
.fa-solid,
.fa-brands {
  font-size: 22px;
  color: black;
}

footer {
  background-color: #fff;
  color: black;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.quick-links,
.social-media,
.newsletter,
.supported-orgs {
  flex: 1;
  margin-right: 30px;
}

/* Give more space to newsletter section */
.newsletter {
  flex: 2;
}

.quick-links ul,
.social-media ul,
.supported-orgs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-links a,
.social-media a,
.supported-orgs a {
  color: #fff;
  text-decoration: none;
}

.social-media ul li a i {
  font-size: 20px;
}

.newsletter form {
  display: flex;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 10px;

  border-radius: 3px 0 0 3px;
}

.newsletter button {
  border: none;
  padding: 10px 20px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: var(--background-color);
  color: #fff;
}
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .quick-links,
  .social-media,
  .newsletter,
  .supported-orgs {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .footer-container {
    justify-content: center;
  }
  .supported-orgs {
    margin-right: 0;
  }
}

/* Give more space to newsletter section */
/* Give more space to newsletter section */
.newsletter {
  flex: 2;
}

/*----------------------final footer styling---------------------*/

.final-footer {
  padding: 1% 4%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  background: rgba(201, 226, 101, 0.2);
}
