*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #101010;
    --green: #5bbb1f;
    --grey: #ebe7e7;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.navigation_container{
    background: var(--grey);
    height: 100vh;
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
}
.logo_container img{
    border-radius: 50%;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    top: 0;
    left: 300px;
    min-height: 100vh;
    background: var(--grey);
    transition: 0.5s;
}
.topbar{
    background: var(--white);
}
.image-container{
    width: 90px;
    height: 90px;
    position: relative;
    border: 1px solid #d6d5d5;
}
.image-container img{
    width: 100%;
    height: 100%;
}
.cancelledAndRecieve p{
    font-size: 12px;
}
.buy_again_btn{
    background: var(--green);
    color: var(--white);
}
.contact_seller_btn{
    background: #fff;
    border: 1px solid #949393;
}
.orderTotal span{
    font-size: 20px;
    color: var(--green);
}
.cancel_detail_btn{
    background: #fff;
    border: 1px solid #949393;
}