@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #5bbb1f;
  --text-gray-color: rgb(68, 68, 68);
  --text-dark-color: rgb(12, 12, 12);
}

body {
  font-family: "Maven Pro", sans-serif;
  overflow-x: hidden;
}
/* --------------------header styling---------------- */

#logo {
  color: var(--text-dark-color);
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}
#logo > span {
  color: var(--background-color);
  font-size: 24px;
}
.navbar-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
}
.navbar-nav li > a {
  color: rgb(68, 68, 68);
}
.navbar-nav li > a:hover {
  color: var(--text-dark-color);
  border-bottom: 1px solid var(--background-color);
}

/* ------------Diagonal 1 Accents----------- */

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
}

section {
  padding-block: 5rem;
}

.diagonal-1 {
  --skew-angle: 5deg;
  --background: linear-gradient(45deg, #5fbca0, #8bd8a8, #c3fdb8);
  position: relative;
  isolation: isolate;
}

.diagonal-1::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.diagonal-1 {
  --skew-angle: 5deg;
  --background: linear-gradient(45deg, #5fbca0, #8bd8a8, #c3fdb8);
  position: relative;
  isolation: isolate;
}

.diagonal-1::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.header {
  margin-top: 2%;
  color: black;
  font-size: 45px;
  padding: 30px;
  text-align: center;
  width: 100vw;
  padding-left: 15%;
  padding-right: 15%;
  opacity: 0.95;
}

/*----------------------footer styling---------------------*/

footer {
  background-color: #fff;
  color: black;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.quick-links,
.social-media,
.newsletter,
.supported-orgs {
  flex: 1;
  margin-right: 30px;
}

/* Give more space to newsletter section */
.newsletter {
  flex: 2;
}

.quick-links ul,
.social-media ul,
.supported-orgs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-links a,
.social-media a,
.supported-orgs a {
  color: #fff;
  text-decoration: none;
}

.social-media ul li a i {
  font-size: 20px;
}

.newsletter form {
  display: flex;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
}

.newsletter button {
  border: none;
  padding: 7px 20px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: var(--background-color);
  color: #fff;
}

@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }

  .quick-links,
  .social-media,
  .newsletter,
  .supported-orgs {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .footer-container {
    justify-content: center;
  }

  .supported-orgs {
    margin-right: 0;
  }
}

/*----------------------final footer styling---------------------*/

.final-footer {
  padding: 1% 4%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  background: rgba(201, 226, 101, 0.2);
}

.fa,
.fa-solid,
.fa-brands {
  font-size: 22px;
  color: black;
}
